# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = gw20e.linkchecker.settings

[deploy]
url = http://localhost:9080/
project = scraper
